{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "osint-pier-api-bridge",
  "main": "src/index.js",
  "compatibility_date": "2026-09-30",
  "compatibility_flags": ["nodejs_compat"],
  "workers_dev": true,
  "observability": {
    "enabled": true,
    "logs": {
      "enabled": true,
      "head_sampling_rate": 0.1,
    },
    "traces": {
      "enabled": true,
      "head_sampling_rate": 0.05,
    },
  },
  "vpc_services": [
    {
      "binding": "COMMAND_TOOLS",
      "service_id": "01a0f2c6-a169-7552-95f3-059ec687f89d",
      "remote": true,
    },
    {
      "binding": "PHONEINFOGA",
      "service_id": "01a0f2c7-41f4-7582-8b91-fa7bf195c807",
      "remote": true,
    },
    {
      "binding": "GHUNT",
      "service_id": "01a0f2c7-dffb-7201-b358-882b541dafd9",
      "remote": true,
    },
  ],
}
