{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "osint-pier-api-bridge",
  "main": "src/index.js",
  "compatibility_date": "2026-09-30",
  "compatibility_flags": ["nodejs_compat"],
  "workers_dev": true,
  "observability": {
    "enabled": true,
    "logs": {
      "enabled": true,
      "head_sampling_rate": 0.1,
    },
    "traces": {
      "enabled": true,
      "head_sampling_rate": 0.05,
    },
  },
}
